html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.img-index {
  display:inline-block;
  margin-bottom: 50px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.links {
  margin-bottom: 50px;
}

.own-link {
  display: inline-block;
  margin: 0 25px 0 0;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.own-link:last-child {
  margin: 0;
}

.container-article {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.container-modules {
  margin: 0 auto;
  padding: 50px 0;
  width: 1170px;
}

.text-section {
  width: 872px;
  margin: 0 1em 40px 0;
  line-height: 32px;
  font-weight: 400;
  font-size: 20px;
  color: #333;

}

.article-main-header {
  margin:  0 1rem 40px 0;
  line-height: 60px;
  color: #333;
  font-weight: 400;
  font-size: 40px;
}

.subtitle {
  margin: 0 1em 10px 0;
  line-height: 46px;
  font-size: 40px;
  color: #333;
}

.table-of-contents {
  margin: 0 0 0 0;
  padding-left: 15px;
  color: #3f2aff;
}

.item:not(:last-child){
  margin: 0 1em 20px 0;
}

.image-block {
  display: inline-block;
  margin: 0 0 40px 0;
  width: 872px;
  font-size: 0;
}

.grey-block {
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25% 100%;

}

.grey-block:last-child {
  margin-bottom: 0;
}

.background-image-content{
  background-image: url("../img/decorate-1.png")
}

.background-image-conclusion{
  background-image: url("../img/decorate-2.png")
}

.grey-block .text-section {
  width: 692px;
  margin-bottom: 10px;
}

.download-link {
  padding: 0 0 0 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.border-text-section {
  width: 100%;
  padding: 50px 95px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}

.bottom-header {
  line-height: 34px;
  font-weight: 400;
  font-size: 30px;
  color: #333;
}

.link-style {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.picture-description {
  padding-top: 19px;
  padding-bottom: 19px;
  border: 1px solid #b6b6b6;
  border-top: 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;

}

.img-article {
  margin-bottom: 50px;
}

.img-article:last-child {
  margin-bottom: 0;
}

.website-style {
  display: block;
  width: 137px;
  margin-bottom: 25px;
}

.index-link {
  display: inline-block;
  margin: 0 0 25px 0;
  padding-left: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #3F2AFF;
  background-image: url("../img/Arrow\ 1.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.modules-main-header {
  margin: 0 1rem 50px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
}

.list {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.items {
  position: relative;
  display: inline-block;
  width: 572px;
  min-height: 505px;
  margin: 0 25px 25px 0;
  padding: 205px 0 0 25px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.items:nth-child(2n) {
  margin-right: 0;
}

.items:before {
  content: "";
  width: 100%;
}

.image-1 {
  background-image: url("../img/image1.png");
}

.image-2 {
  background-image: url("../img/image2.png");
}

.image-3 {
  background-image: url("../img/image3.png");
}

.image-4 {
  background-image: url("../img/image4.png");
}

.modules-third-header {
  margin: 0 0 2px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;
}

.list-in-item {
  margin: 0;
  padding-left: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  list-style: none;
  color: #333333;
}

.card-number {
  position: absolute;
  right: 25px;
  bottom: 25px;
  text-align: right;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}

.additional-information-button {
  padding: 25px 76px;
  display: block;
  border: 2px solid #3F2AFF;
  background-color: white;
  margin: 0 auto;
}

.text-style-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3F2AFF;
}
